# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Virtual environment
venv/
ENV/
env/

# SQLite database
# db.sqlite3

# Static files collected for deployment
staticfiles/

# VS Code / IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

.env